In [26]:
import geopandas as gpd
import matplotlib.pyplot as plt
import mplleaflet

%matplotlib inline

In [2]:
gdf = gpd.read_file("../app_route_data/trajets_mtl_trajet_2017.shp", encoding='utf-8') # utf-8 needed to read french letters

In [28]:
CAN_LAM = {'init': 'epsg:3347'}

In [3]:
print(gdf.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 185285 entries, 0 to 185284
Data columns (total 7 columns):
id_trip       185285 non-null int64
mode          74218 non-null object
purpose       74218 non-null object
starttime     185285 non-null object
endtime       185285 non-null object
journeytim    185285 non-null int64
geometry      185285 non-null object
dtypes: int64(2), object(5)
memory usage: 9.9+ MB
None

In [4]:
print(gdf.starttime.min(),"\n", gdf.starttime.max())

2017-09-18 04:16:58UTC 2017-10-18 03:50:08UTC

In [5]:
gdf.head()

,id_trip,mode,purpose,starttime,endtime,journeytim,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,"LINESTRING (-73.651166 45.544501, -73.65122700..."
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,"LINESTRING (-73.650987 45.544496, -73.651011 4..."
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,"(LINESTRING (-73.832869 45.636068, -73.831779 ..."
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,"LINESTRING (-73.646385 45.54629, -73.646064999..."
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,"(LINESTRING (-73.74549500000001 45.55839, -73...."

In [7]:
# total of 70 unique travel modes
gdf['mode'].unique()

array([None, 'car', 'walking, public_transport', 'public_transport',
       'walking', 'cycling', 'walking, public_transport, cycling',
       'public_transport, car', 'walking, cycling',
       'walking, car, cycling', 'car_sharing', 'other',
       'public_transport, cycling', 'walking, public_transport, car',
       'public_transport, car, cycling', 'walking, car', 'car, cycling',
       'taxi', 'not_available', 'taxi, cycling',
       'walking, car_sharing, cycling',
       'car_sharing, public_transport, car', 'taxi, car',
       'walking, car_sharing, car', 'car_sharing, other',
       'walking, taxi, cycling', 'car_sharing, taxi', 'car_sharing, car',
       'car_sharing, other, car', 'car_sharing, public_transport',
       'walking, public_transport, car, cycling',
       'other, public_transport', 'walking, other, public_transport',
       'other, cycling', 'other, taxi',
       'walking, car_sharing, other, public_transport', 'walking, other',
       'other, car', 'walking, taxi', 'other, public_transport, car',
       'car_sharing, cycling', 'walking, car_sharing',
       'car_sharing, other, taxi', 'other, car, cycling',
       'taxi, public_transport', 'car_sharing, public_transport, cycling',
       'walking, taxi, public_transport', 'taxi, public_transport, car',
       'walking, car_sharing, public_transport', 'car_sharing, taxi, car',
       'walking, taxi, car', 'car_sharing, other, public_transport',
       'walking, taxi, public_transport, cycling',
       'other, taxi, public_transport', 'walking, other, car',
       'taxi, car, cycling', 'walking, car_sharing, taxi',
       'walking, taxi, car, cycling',
       'walking, car_sharing, taxi, public_transport',
       'other, public_transport, cycling',
       'walking, car_sharing, other, taxi, public_transport, car, cycling',
       'other, taxi, cycling', 'walking, car_sharing, other',
       'walking, car_sharing, public_transport, car',
       'car_sharing, public_transport, car, cycling',
       'car_sharing, taxi, public_transport, car',
       'taxi, public_transport, cycling',
       'walking, other, public_transport, car', 'walking, other, cycling',
       'walking, taxi, public_transport, car, cycling'], dtype=object)