In [1]:
import sys
sys.path.append('../pre_processing/')
from preprocessing import dataPreProcessing

In [2]:
preprocessing = dataPreProcessing('../../msc_dissertation_notebooks/app_route_data/trajets_mtl_trajet_2017.shp')

In [3]:
preprocessing = preprocessing.read_file()

In [4]:
preprocessing.data.head()

,id_trip,mode,purpose,starttime,endtime,journeytim,distance_m,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,1530.222174,LINESTRING (7624015.797731051 1247372.35912242...
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,324.869460,LINESTRING (7624029.565886391 1247375.82561127...
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,32009.701647,(LINESTRING (7607307.10774919 1253237.70694762...
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,9935.922336,LINESTRING (7624322.265039731 1247672.97005955...
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,563.806088,(LINESTRING (7616402.39358294 1246769.19969164...

In [5]:
preprocessing = preprocessing.make_translations()

In [6]:
preprocessing.data.head()

,id_trip,mode,purpose,starttime,endtime,journeytim,distance_m,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,1530.222174,LINESTRING (7624015.797731051 1247372.35912242...
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,324.869460,LINESTRING (7624029.565886391 1247375.82561127...
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,32009.701647,(LINESTRING (7607307.10774919 1253237.70694762...
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,9935.922336,LINESTRING (7624322.265039731 1247672.97005955...
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,563.806088,(LINESTRING (7616402.39358294 1246769.19969164...

In [7]:
preprocessing = preprocessing.change_projection()

correct crs

In [8]:
preprocessing.data.head()

,id_trip,mode,purpose,starttime,endtime,journeytim,distance_m,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,1530.222174,LINESTRING (7624015.797731051 1247372.35912242...
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,324.869460,LINESTRING (7624029.565886391 1247375.82561127...
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,32009.701647,(LINESTRING (7607307.10774919 1253237.70694762...
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,9935.922336,LINESTRING (7624322.265039731 1247672.97005955...
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,563.806088,(LINESTRING (7616402.39358294 1246769.19969164...

In [9]:
preprocessing = preprocessing.calc_journeytime()

In [10]:
preprocessing.data.head()

,id_trip,mode,purpose,starttime,endtime,journeytime,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,LINESTRING (7624015.797731051 1247372.35912242...
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,LINESTRING (7624029.565886391 1247375.82561127...
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,(LINESTRING (7607307.10774919 1253237.70694762...
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,LINESTRING (7624322.265039731 1247672.97005955...
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,(LINESTRING (7616402.39358294 1246769.19969164...

In [11]:
preprocessing = preprocessing.calc_distance()

calculating distance

In [12]:
preprocessing.data.head()

,id_trip,mode,purpose,starttime,endtime,journeytime,geometry,distance_m
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,568,LINESTRING (7624015.797731051 1247372.35912242...,1530.222174
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,2463,LINESTRING (7624029.565886391 1247375.82561127...,324.869460
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,2824,(LINESTRING (7607307.10774919 1253237.70694762...,32009.701647
3,150744,car,pick_up_a_person,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,862,LINESTRING (7624322.265039731 1247672.97005955...,9935.922336
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,544,(LINESTRING (7616402.39358294 1246769.19969164...,563.806088