## Summary
Notebook to translate the mode and purpose into english
get script

In [5]:
import geopandas as gpd
import matplotlib.pyplot as plt

%matplotlib inline

In [93]:
gdf = gpd.read_file("../app_route_data/trajets_mtl_trajet_2017.shp", encoding='utf-8') # utf-8 needed to read french letters

In [94]:
gdf.head()

,id_trip,mode,purpose,starttime,endtime,geometry
0,1547,None,None,2017-09-18 04:16:58UTC,2017-09-18 04:26:26UTC,"LINESTRING (-73.651166 45.544501, -73.65122700..."
1,308312,None,None,2017-09-18 06:17:46UTC,2017-09-18 06:58:49UTC,"LINESTRING (-73.650987 45.544496, -73.651011 4..."
2,384772,None,None,2017-09-18 09:30:24UTC,2017-09-18 10:17:28UTC,"(LINESTRING (-73.832869 45.636068, -73.831779 ..."
3,150744,Voiture / Moto,Reconduire / aller chercher une personne,2017-09-18 10:02:50UTC,2017-09-18 10:17:12UTC,"LINESTRING (-73.646385 45.54629, -73.646064999..."
4,199011,None,None,2017-09-18 10:18:40UTC,2017-09-18 10:27:44UTC,"(LINESTRING (-73.74549500000001 45.55839, -73...."

In [95]:
purpose_translations = {"None":"None",'Reconduire / aller chercher une personne':'pick_up_a_person',
       "Travail / Rendez-vous d'affaires":'work', 'Magasinage / emplettes':'shops',
       'Retourner à mon domicile':'returning_home', 'Santé':'health', 'Loisir':'leisure', 'Éducation':'education',
       'Autre':'other', 'Repas / collation / café':'cafe', 'ND':'not_available'}
if not "other" in gdf.purpose.unique():
    gdf['purpose'] = gdf.purpose.apply(lambda pur: purpose_translations[pur] if pur else pur)

In [118]:
mode_translations = {"Voiture / Moto":"car", "À pied":"walking", "Transport collectif":"public_transport",
                     "Autopartage":"car_sharing", "Vélo":"cycling", "Taxi":"taxi",
                     "Autre":"other", "ND":"not_available"}
def mode_to_new_name(mode_names):
    if mode_names:
        mode_list = mode_names.split(',')
        translations = []
        for mode in mode_list:
            translations.append(mode_translations[mode.lstrip()])
        return str(translations).strip('[]').replace("'", '')
    else:
        return mode_names

In [119]:
if not "other" in gdf['mode'].unique():
    gdf['mode'] = gdf['mode'].apply(mode_to_new_name)

In [123]:
gdf['mode'].unique()

array([None, 'car', 'walking, public_transport', 'public_transport',
       'walking', 'cycling', 'walking, public_transport, cycling',
       'public_transport, car', 'walking, cycling',
       'walking, car, cycling', 'car_sharing', 'other',
       'public_transport, cycling', 'walking, public_transport, car',
       'public_transport, car, cycling', 'walking, car', 'car, cycling',
       'taxi', 'not_available', 'taxi, cycling',
       'walking, car_sharing, cycling',
       'car_sharing, public_transport, car', 'taxi, car',
       'walking, car_sharing, car', 'car_sharing, other',
       'walking, taxi, cycling', 'car_sharing, taxi', 'car_sharing, car',
       'car_sharing, other, car', 'car_sharing, public_transport',
       'walking, public_transport, car, cycling',
       'other, public_transport', 'walking, other, public_transport',
       'other, cycling', 'other, taxi',
       'walking, car_sharing, other, public_transport', 'walking, other',
       'other, car', 'walking, taxi', 'other, public_transport, car',
       'car_sharing, cycling', 'walking, car_sharing',
       'car_sharing, other, taxi', 'other, car, cycling',
       'taxi, public_transport', 'car_sharing, public_transport, cycling',
       'walking, taxi, public_transport', 'taxi, public_transport, car',
       'walking, car_sharing, public_transport', 'car_sharing, taxi, car',
       'walking, taxi, car', 'car_sharing, other, public_transport',
       'walking, taxi, public_transport, cycling',
       'other, taxi, public_transport', 'walking, other, car',
       'taxi, car, cycling', 'walking, car_sharing, taxi',
       'walking, taxi, car, cycling',
       'walking, car_sharing, taxi, public_transport',
       'other, public_transport, cycling',
       'walking, car_sharing, other, taxi, public_transport, car, cycling',
       'other, taxi, cycling', 'walking, car_sharing, other',
       'walking, car_sharing, public_transport, car',
       'car_sharing, public_transport, car, cycling',
       'car_sharing, taxi, public_transport, car',
       'taxi, public_transport, cycling',
       'walking, other, public_transport, car', 'walking, other, cycling',
       'walking, taxi, public_transport, car, cycling'], dtype=object)

In [125]:
## re-save the file
# gdf.to_file("../app_route_data/trajets_mtl_trajet_2017.shp", encoding='utf-8')